@use "./src/shared/style/classic/mixin.scss" as *;

.root {
  position: relative;
}

.inner {
  display: flex;

  padding: 20px 0;
  @include block-bp-lg {
    padding: 50px 0;
  }
  @include block-bp-xl {
    padding: 70px 0;
  }
}

.list {
  @include grid;
}

.item {
  @include col(12);
  @include col-sm(6);
  @include col-md(4);
}

// .list {
//   @include grid;
//   @include shifted-grid(
//     "sm",
//     (
//       (
//         "columns": (
//           1,
//           1,
//         ),
//         "left-shift": 0,
//         "right-shift": 0
//       ),
//       (
//         "columns": (
//           1,
//           1,
//         ),
//         "left-shift": 0,
//         "right-shift": 0
//       ),
//       (
//         "columns": (
//           1,
//         ),
//         "left-shift": 4,
//         "right-shift": 4
//       )
//     )
//   );
//
//   @include shifted-grid(
//     "lg",
//     (
//       (
//         "columns": (
//           1,
//           1,
//           1,
//         ),
//         "left-shift": 0,
//         "right-shift": 0
//       ),
//       (
//         "columns": (
//           1,
//           1,
//         ),
//         "left-shift": 1,
//         "right-shift": 1
//       )
//     )
//   );
//   @include shifted-grid(
//     "xl",
//     (
//       (
//         "columns": (
//           1,
//           1,
//           1,
//         ),
//         "left-shift": 0,
//         "right-shift": 0
//       ),
//       (
//         "columns": (
//           1,
//           1,
//         ),
//         "left-shift": 2,
//         "right-shift": 2
//       )
//     )
//   );
// }
//
// .item {
//   position: relative;
//
//   @include col(12);
//   @include col-sm(6);
//   @include col-md(4);
// }
