.root {
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--color-light);
}

.description {
  color: var(--color-light);

  font-size: 16px;
  line-height: 20;

  @include block-bp-md {
    font-size: 18px;
    line-height: 22px;
  }
}
