@use "./src/shared/style/classic/mixin.scss" as *;

.root {
  color: var(--color-light);

  background-color: var(--color-dark);
}

.inner {
  display: flex;

  width: 100%;
  @include like-container-offset;

  @include block-bp-lg {
    @include like-container-offset-reset;
  }
}

.menu {
  flex-grow: 1;
}
