@use "./src/shared/style/classic/mixin.scss" as *;
/* Module: sText */
.root {
  position: relative;

  display: block;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
}
