$color: (
  --color-primary-500: 214 98% 20%,
  --color-light-0: 0 0% 100%,
  --color-light-100: 0 0% 95%,
  --color-dark-900: 0 0% 0%,
  --color-destructive-500: 357 84% 60%,
  // New destructive color
  --color-secondary-500: 210 100% 50%, // New secondary color
);
