@use "./color.var" as *;

$theme: (
  --color-primary: var(--color-primary-500),
  --color-light: var(--color-light-0),
  --background-light: var(--color-light-0),
  --background-primary: var(--color-primary-500),
  // --background-overlay: var(--color-dark-0),
  --background-overlay: hsl(var(--color-dark-0) / 0.8),
);
