@use "./color.var" as *;

$theme: (
  --color-primary: hsl(var(--color-primary-500)),
  --color-light: hsl(var(--color-light-0)),
  --color-gray: hsl(var(--color-light-100)),
  --color-dark: hsl(var(--color-dark-900)),
  --background-light: var(--color-light-0),
  --input-color: var(--color-light-0),
  --input-border: var(--color-gray),
  --input-background: var(--background-light),
);
