.box {
  &_open {
    @include menu-in;
  }

  &_close {
    @include menu-out;
    @include block-bp-lg {
      position: relative;

      animation: none;
    }
  }

  @include block-bp-lg {
    position: relative;
  }
}
