.root {
  width: 100%;
  position: relative;
}

.controller {
  display: flex;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
  @include block-bp-lg {
    display: none;
  }
}

.inner {
  display: flex;
  position: relative;
}

.list {
  bottom: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  background: var(--color-dark);
  width: calc(100% + 40px);
  flex-wrap: wrap;

  margin: 0 -20px;
  gap: 5px;

  position: absolute;

  @include block-bp-lg() {
    transform: translateY(0);
    bottom: auto;
    margin: auto;
    padding: 0;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.link {
  padding: 5px 5px 5px 20px;
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: 600;
  @include ts(background);
  @include block-bp-md() {
    padding: 15px 0;
    text-align: center;
  }

  &:hover {
    background: var(--color-primary);
  }
}
