.mainBG {
  background: url("../asset/bg_banner-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.infoBG {
  background: var(--background-overlay);
}
