@use "./src/shared/style/classic/mixin.scss" as *;

/* Module: sHeroLayout */
.inner {
  @include container-flat;

  @include grid-flat;
}

.info {
  width: 100%;
}

.action {
}

.infoBox {
  display: flex;
  flex-direction: column;

  padding-top: 50px;
  padding-bottom: 50px;

  gap: 30px;
  @include col-flat(10);
  @include col-md-flat(8);
  @include col-lg-flat(6);
  @include block-bp-md {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include block-bp-lg {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
