@use "./src/shared/style/classic/mixin.scss" as *;
/* Module: sPhoneList */

.root {
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  gap: 10px;
  @include block-bp-lg {
    gap: 20px;
  }
}

.title {
  position: relative;
}

.list {
  position: relative;
}
