/* Module: sContactFooter */
.title {
  text-transform: uppercase;

  font-weight: 600;
}

.row {
}

.inner {
  display: flex;

  gap: 32px;

  flex-direction: column;

  text-align: right;
}

.content {
}

.root {
}

.phoneList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
