@use "./src/shared/style/classic/mixin.scss" as *;

.inner {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 10px;

  text-align: center;

  @include block-bp-md {
    padding: 20px;
  }
  @include block-bp-lg {
    padding: 40px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.description {
  text-align: center;
  text-transform: uppercase;
}
