.FormDescription {
  padding-top: 0.275rem;

  color: red;

  font-size: 0.875rem;
}

.FormMessage {
  transform: translateY(4px);

  color: blue;

  font-size: 0.875rem;
  font-weight: 500;
}

.FormLabel {
  color: yellowgreen;
}
