.langSwitcher {
  width: 100%;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button {
  padding: 2px 8px;

  color: hsl(var(--color-primary));

  &:hover {
    cursor: pointer;

    color: hsl(var(--color-light));
    background-color: hsl(var(--color-primary));
  }
  @include ts(background-color, color);
}

.button_active {
  color: hsl(var(--color-light));
  background-color: hsl(var(--color-primary));
}
