.view {
  margin: 0;

  &_primary {
    text-transform: uppercase;

    color: var(--color-primary);

    font-weight: 600;

    &_invert {
      color: var(--color-light);
    }
  }

  &_secondary {
    text-transform: none;
  }
}
