@use "./src/shared/style/classic/mixin.scss" as *;
/* Module: sMenu */

.root {
}

.inner {
}

.list {
  display: flex;
  flex-direction: column;

  list-style: none;
  gap: 10px;
}

.item {
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 600;

  @include block-bp-lg {
    font-size: 18px;
  }
}

.link {
  position: relative;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;

    width: 100%;

    height: 2px;

    content: "";

    background: transparent;

    @include ts(background);
  }

  &:hover {
    &::after {
      background: var(--color-light);
    }
  }
}
