@use "./src/shared/style/classic/mixin.scss" as *;
/* Module: sMenu */

.root {
}

.inner {
}

.list {
  display: flex;
  flex-direction: column;

  list-style: none;
  gap: 10px;
}

.item {
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 600;

  @include block-bp-lg {
    font-size: 18px;
  }
}
