.inner {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;

  @include block-bp-md {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
  }

  @include block-bp-xl {
    grid-template-columns: 6fr 1fr;
  }
}

.order {
  position: relative;

  padding: 5px 15px;

  cursor: pointer;

  color: var(--color-light);
  background: var(--color-primary);

  font-size: 36px;
  font-weight: 500;
  line-height: 44px;

  &::before {
    position: absolute;
    top: 50%;
    right: 20px;

    width: 20px;
    height: 20px;

    content: "";

    // transform: translateY(-25%) rotate(45deg);
    transform: translateY(-75%) rotate(225deg);

    background: var(--color-light);
    clip-path: polygon(0 0, 100% 0, 100% 2px, 2px 2px, 2px 100%, 0 100%);

    // @include accordion-arrow-init;
  }
  @include block-bp-md {
    display: flex;

    justify-content: center;

    padding: 40px;

    font-size: 72px;
    line-height: 86px;

    &::before {
      top: auto;
      right: 50%;
      bottom: 0;

      width: 24px;
      height: 24px;

      transform: translate(50%, -75%) rotate(225deg);
      clip-path: polygon(0 0, 100% 0, 100% 3px, 3px 3px, 3px 100%, 0 100%);
    }
  }
}

.box {
  display: grid;
  overflow: hidden;

  min-height: 0;

  background: var(--color-gray);

  grid-template-rows: 0fr;
  grid-column: 1 / -1;

  @include block-bp-md {
    padding: 40px;
    grid-row: 1;
    grid-column: auto;
  }
}

.content {
  display: grid;
  overflow: hidden;

  padding: 5px 15px;

  color: var(--color-dark);

  background: var(--color-gray);

  // grid-template-rows: 1fr 1fr;
  grid-column: 1 / -1;
}

.title {
  margin-bottom: 15px;
}

//
// .description {
//   min-height: 0;
// }
