.collapsing {
  &#{&}_open {
    grid-template-rows: 1fr 1fr;

    opacity: 1;
  }

  &#{&}_close {
    grid-template-rows: 0fr 0fr;

    opacity: 0;
    @include block-bp-md {
      grid-template-rows: 1fr 1fr;

      opacity: 1;
    }
  }
  @include ts(grid-template-rows, opacity);
}

.rotating {
  position: relative;

  &::before {
    // transform: translateY(-25%) rotate(45deg);
  }

  &#{&}_open::before {
    transform-origin: center center;
    animation: open 0.5s ease-in-out forwards;
  }

  &#{&}_close::before {
    transform-origin: center center;
    animation: close 0.5s ease-in-out forwards;
  }
}

@keyframes open {
  from {
    transform: translateY(-25%) rotate(45deg);
  }

  to {
    transform: translateY(-75%) rotate(225deg);
  }
}

@keyframes close {
  from {
    transform: translateY(-75%) rotate(225deg);
  }

  to {
    transform: translateY(-25%) rotate(45deg);
  }
}
