@use "./src/shared/style/classic/mixin.scss" as *;

.action {
  width: 100%;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

  @include block-bp-md {
    gap: 10px;
  }
}
