/* Module: sTeamList */

.root {
  position: relative;
}

.inner {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.item {
  overflow: hidden;
}
