@use "./src/shared/style/classic/mixin.scss" as *;

.inner {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100%;
  padding: 10px;

  text-align: center;

  @include block-bp-md {
    padding: 20px;
    gap: 20px;
  }
  @include block-bp-lg {
    padding: 40px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;

  line-height: 1.2;
}

.description {
  text-align: center;
  text-transform: uppercase;
}
