@use "./src/shared/style/classic/mixin.scss" as *;

.root {
  position: relative;
}

.inner {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  background: var(--color-gray);
}

.mediaBox {
  @include grid;
}

.map {
  height: 540px;
  @include col(12);
  @include col-md(6);
  @include col-lg(8);
  @include block-bp-lg {
    height: 840px;
  }
}

.video {
  height: 540px;
  @include col(12);
  @include col-md(6);
  @include col-lg(4);
  @include block-bp-lg {
    height: 840px;
  }
}
