@use "./src/shared/style/classic/mixin.scss" as *;
/* Module: sItem */

.root {
  position: relative;
}

.inner {
  background: var(--color-gray);
  @include grid;
}

.imgBox {
  @include col(12);
  @include col-md(4);

  @include col-lg(5);
}

.img {
  object-fit: cover;

  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;

  // max-height: 400px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 50px;

  text-align: center;
  @include col(12);
  @include col-md(8);

  @include col-lg(7);
}

.title {
  position: relative;
}

.position {
  position: relative;
}

.regalies {
  position: relative;
}

.specialization {
  position: relative;
}

.expirience {
  position: relative;
}

.description {
  position: relative;
}

.even {
  .imgBox {
    @include block-bp-md {
      order: 0;
    }
  }

  .content {
    @include block-bp-md {
      order: 1;
    }
  }
}

.odd {
  .imgBox {
    @include block-bp-md {
      order: 1;
    }
  }

  .content {
    @include block-bp-md {
      order: 0;
    }
  }
}
