@layer reset {
  .reset {
    & * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;

      color: inherit;
      border: 0;
      background: transparent;

      font: inherit;
    }
  }
}

// Базовые стили
/* @layer base { */
/*   .html { */
/*     height: 100%; */
/*   } */
/*  */
/*   .body { */
/*     min-height: 100%; */
/*   } */
/* } */
