.Input {
  display: flex;

  width: 100%;
  max-width: 36rem;
  height: 3.5rem;
  padding: 0.5rem 0.75rem 0.5rem 1rem;

  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  color: var(--input-color);
  border: var(--input-border);
  background-color: var(--input-background);

  font-size: 0.875rem;
  font-weight: 500;

  &:hover {
    border-color: var(--input-border-hover);
  }
}

.Input:focus {
  color: hsl(from var(--input-color) h s l / 100%);
  border: 1px solid var(--input-border-focus);
}

.Input:-webkit-autofill {
  color: hsl(from var(--input-color) h s l / 100%);
  border: 1px solid hsl(from var(--input-border) h s l / 15%);
}

.Input::placeholder {
  color: hsl(from var(--input-color) h s l / 70%);
}

.Input:focus-visible {
  border: 1px solid var(--input-border-focus);
  outline: none;
}

.Input:disabled {
  cursor: not-allowed;

  opacity: 0.5;
}

.passwordButton {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;

  margin: auto;
  margin-right: 0.5rem;
  padding: 0;

  border: none;
  background-color: transparent;
}
