@use "./src/shared/style/classic/mixin.scss" as *;

.root {
  position: relative;

  &__offset {
    margin-bottom: 30px;
    @include block-bp-lg {
      margin-bottom: 100px;
    }
  }

  &__fall {
    // z-index: -1;

    margin-top: -30px;

    @include block-bp-lg {
      margin-top: -90px;
    }
  }
}
