@use "./src/shared/style/classic/mixin.scss" as *;
/* Module: sConceptList */

.root {
  margin: 0;
}

.inner {
  display: flex;
  flex-direction: column;
}

.list {
  @include grid; // flex-direction: column;
}

.item {
  @include col(6);
  @include col-md(3);
}
