.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: var(--color-primary);
  background: var(--background-light);

  font:
    var(--font-base-size) / 1.8 var(--font-primary),
    sans-serif;

  &__last {
    margin-top: auto;
    margin-bottom: 0;
  }
}
