@use "./src/shared/style/classic/keyframe.scss" as *;
@use "./src/shared/style/classic/mixin.scss" as *;

@mixin menu-in {
  @include animate-in;
  @include fade-in(0);
  @include slide-in(-100%, 100%);
}

@mixin menu-out {
  @include animate-out;
  @include fade-out(0);
  @include slide-out(-100%, 100%);
}

.showing {
  &#{&}_open {
    @include menu-in;
  }

  &#{&}_close {
    pointer-events: none;
    @include menu-out;
    @include block-bp-lg {
      animation: none;
      pointer-events: auto;
    }
  }
}
