/* Icon svg example */

/* Не задаются размеры - блок icon не используется отдельно */

/* Используется в качестве вспомогательного, декоративного элемента */

/* Размеры получает через блок родителя, например button */

/* Если svg то красить тоже лучше через родителя, это дает большую гибкости */

/* и позволяет легко задавать цвет для hover */

/* и использовать иконки разных цветов в разных местах */
/* Пример 1: */
// .icon.arrow_flat {
//   mask-image: url("../img/icon_arrow_flat.svg");
// }

/* Пример 2: */
// .icon.insta {
//   background-image: url("../img/icon_insta.svg");
// }

.icon.hamburger {
  mask-image: url("../../img/icon_hamburger.svg");
}

.icon.insta {
  mask-image: url("../../img/icon_social_insta.svg");
}

.icon.fb {
  mask-image: url("../../img/icon_social_fb.svg");
}

.icon.email {
  mask-image: url("../../img/icon_social_email.svg");
}

.icon.benefit {
  mask-image: url("../../img/icon_benefit.svg");
}

.icon.lecksis {
  // mask-image: url("../../img/icon_lecksis.png");

  background-image: url("../../img/icon_lecksis.png");
}

// .icon.tg {
//   mask-image: url("../../img/icon_social_tg.svg");
// }
