// Base animation mixins
@mixin animate-state-action {
  // enter
  --enter-opacity: initial;
  --enter-scale: initial;
  --enter-rotate: initial;
  --enter-translate-x: initial;
  --enter-translate-y: initial;
  --enter-grid-rows: initial; // Новая переменная

  // exit
  --exit-opacity: initial;
  --exit-scale: initial;
  --exit-rotate: initial;
  --exit-translate-x: initial;
  --exit-translate-y: initial;
  --exit-grid-rows: initial;
}

@keyframes state-enter {
  from {
    transform: translate(
        var(--enter-translate-x, 0),
        var(--enter-translate-y, 0)
      )
      scale(var(--enter-scale, 1)) rotate(var(--enter-rotate, 0));

    opacity: var(--enter-opacity, 1);
  }
}

@keyframes state-exit {
  to {
    transform: translate(var(--exit-translate-x, 0), var(--exit-translate-y, 0))
      scale(var(--exit-scale, 1)) rotate(var(--exit-rotate, 0));

    opacity: var(--exit-opacity, 1);
  }
}

@mixin state-grid-row-enter {
  grid-template-rows: var(--enter-grid-rows, 1fr);
}

@mixin state-grid-row-exit {
  grid-template-rows: var(--exit-grid-rows, 1fr);
}

@mixin animate-in($duration: 250ms, $timing: ease-out) {
  animation: state-enter $duration $timing forwards;
  @include animate-state-action;
}

@mixin animate-out($duration: 250ms, $timing: ease-in) {
  animation: state-exit $duration $timing forwards;
  @include animate-state-action;
}

@mixin animate-grid-row($duration: 250ms, $timing: ease-out) {
  transition: grid-template-rows $duration $timing;

  @include animate-state-action;
}

@mixin animate-grid-out($duration: 250ms, $timing: ease-in) {
  animation: grid-exit $duration $timing forwards;
  @include animate-state-action;
}

@mixin animation-reset() {
  animation: none;
  @include animate-state-action;
}

// Fade mixins
@mixin fade-in($opacity: 0) {
  --enter-opacity: #{$opacity};
}

@mixin fade-out($opacity: 0) {
  --exit-opacity: #{$opacity};
}

// Scale mixins
@mixin zoom-in($scale: 0.95) {
  --enter-scale: #{$scale};
}

@mixin zoom-out($scale: 0.95) {
  --exit-scale: #{$scale};
}

// Slide mixins
@mixin slide-in($x: 0, $y: 0) {
  --enter-translate-x: #{$x};
  --enter-translate-y: #{$y};
}

@mixin slide-out($x: 0, $y: 0) {
  --exit-translate-x: #{$x};
  --exit-translate-y: #{$y};
}

// Rotate mixins
@mixin rotate-in($degrees: 0) {
  --enter-rotate: #{$degrees}deg;
}

@mixin rotate-out($degrees: 0) {
  --exit-rotate: #{$degrees}deg;
}

@mixin grid-rows-in($rows) {
  --enter-grid-rows: #{$rows};
}

@mixin grid-rows-out($rows) {
  --exit-grid-rows: #{$rows};
}
