@use "./src/shared/style/classic/mixin.scss" as *;

.root {
  width: 100%;
}

.inner {
  padding-top: 32px;
  padding-bottom: 32px;
  @include grid;
  @include block-bp-lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.info {
  width: 100%;

  color: white;
  place-self: center center;
  @include col(6);
  @include col-md(4);
  @include block-bp-md {
    order: 0;
    place-self: center start;
  }
}

.navigation {
  width: 100%;

  color: white;
  place-self: center center;
  @include col(12);
  @include col-md(4);
  @include block-bp-md {
    order: 1;
  }
}

.contact {
  width: 100%;

  color: white;
  place-self: center center;
  @include col(6);
  @include col-md(4);
  @include block-bp-md {
    order: 2;
    place-self: center end;
  }
}
