@use "./src/shared/style/classic/mixin.scss" as *;

.section {
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;

    height: 100%;
    gap: 30px;
    @include block-bp-lg {
      gap: 70px;
    }
  }

  &__header {
    width: 100%;
  }
}
