@use "../../../../style/classic/mixin.scss" as *;

.topology {
  width: 100%;

  &_rowContainer {
    @include container;
  }

  &_rowFlat {
    @include container-flat;
  }

  &_rowFull {
    @include container-full;
  }
}

.base {
  padding-top: 50px;
  padding-bottom: 50px;

  background: red;
}
